*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build_log.txt
build_log_utf8.txt
bus.jpg
calibration_image_sample_data_20x128x128x3_float32.npy
download_yolo.py
read_metadata.py
read_tflite.py
yolov8n.onnx
yolov8n.pt
yolov8n_saved_model/
